* {
  box-sizing: border-box;
}

body {
  background: #33363D;
  color: white;
  font-weight: 300;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  max-width: 95%;
  margin: 20px auto;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 690px) {
  .drag-list {
    display: block;
  }
}

.drag-column {
  flex: 1;
  margin: 0 5px;
  position: relative;
  background: #a4a4a4;
  overflow: hidden;
}
@media (max-width: 690px) {
  .drag-column {
    margin-bottom: 30px;
  }
}
.drag-column h2 {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.drag-column-0 .drag-column-header,
.drag-column-0 .is-moved,
.drag-column-0 .drag-options {
  background: #FF6A6A;
}
.drag-column-1 .drag-column-header,
.drag-column-1 .is-moved,
.drag-column-1 .drag-options {
  background: #FB7D44;
}
.drag-column-2 .drag-column-header,
.drag-column-2 .is-moved,
.drag-column-2 .drag-options {
  background: #2A92BF;
}
.drag-column-3 .drag-column-header,
.drag-column-3 .is-moved,
.drag-column-3 .drag-options {
  background: #F4CE46;
}
.drag-column-4 .drag-column-header,
.drag-column-4 .is-moved,
.drag-column-4 .drag-options {
  background: #00B961;
}
.drag-column-5 .drag-column-header,
.drag-column-5 .is-moved,
.drag-column-5 .drag-options {
  background: #BC32C2;
}
.drag-column-6 .drag-column-header,
.drag-column-6 .is-moved,
.drag-column-6 .drag-options {
  background: #EFA55F;
}

.drag-column-7 .drag-column-header,
.drag-column-7 .is-moved,
.drag-column-7 .drag-options {
  background: #6E9F94;
}

.drag-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #ffffff;
}

.drag-inner-list {
  min-height: 50px;
}

.drag-item {
  height: 100px;
  margin: 0px 5px 10px 1px;
  background: rgb(243, 239, 239);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 14px;
}
.drag-item.is-moving {
  transform: scale(1.5);
  background: rgba(0, 0, 0, 0.8);
}

.drag-header-more {
  cursor: pointer;
}
.panel-body {
    padding: 10px;
}
.drag-options {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-options.active {
  transform: translateX(0);
  opacity: 1;
}
.drag-options-label {
  display: block;
  margin: 0 0 5px 0;
}
.drag-options-label input {
  opacity: 0.6;
}
.drag-options-label span {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 5px;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}


.section {
  padding: 20px;
  text-align: center;
}
.section a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
.section h4 {
  font-weight: 100;
}
.section h4 a {
  font-weight: 600;
}
.textIndragList {
    padding-left: 5px;
}